<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        {% load static %}
<!-- Main Content -->
    <div id="content">
	 <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

         

 <!-- Begin Page Content -->
        <div class="container-fluid">
		<!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Select Goal</h1>
	
			  <div class="row">
					<div class="col-xl-4 col-md-6 mb-4">
						<div class="card border-left-success  h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Own a Home</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													
												</div>
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
											</div>
										</div>
											<div class="col-auto">
												<img src="{% static 'pictures\Own a home.svg' %}" width="50px" height="40px"></img>
											</div>
											
									</div>
									<div class="text">
									</br>Target	</br>
									Current	</br>
									Invested </br>
									Gain  </br>
									Gain%
									</div>
									<div class=values "text" align="right" >
									&#x20B9;&nbsp;10,00,000</br>
									&#x20B9;&nbsp;3,00,000</br>
									&#x20B9;&nbsp;3,30,000</br>
									&#x20B9;&nbsp;30,000</br>
									18%
									</div>
					
								</div>
							</div>
						</div>
				<div class="col-xl-4 col-md-6 mb-4">
						
							<div class="card border-left-success  h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Save Tax</div>
											<div class="row no-gutters align-items-center">
												
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
											</div>
										</div>
											<div class="col-auto">
												<img src="{% static 'pictures\Save tax.svg' %}" width="50px" height="40px"></img>
											</div>
											
									</div>
									<div class="text">
									</br>Target	</br>
									Current	</br>
									Invested </br>
									Gain  </br>
									Gain%
									</div>
									<div class=values "text" align="right" >
									&#x20B9;&nbsp;10,00,000</br>
									&#x20B9;&nbsp;3,00,000</br>
									&#x20B9;&nbsp;3,30,000</br>
									&#x20B9;&nbsp;30,000</br>
									18%
									</div>
								
								</div>
							</div>
						</div>
						
						<a target="_self"href="goalandtimeline.html">	
						<div class="col-xl-4 col-md-6 mb-4">
						
							<div class="card border-left-warning  h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Buy a Car</div>
											<div class="row no-gutters align-items-center">
												
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
											</div>
										</div>
											<div class="col-auto">
												<img src="{% static 'pictures/Buy a car.svg' %}" width="70px" height="60px"></img>
											</div>
											
									</div>
									<div class="text">
									For your near-term goal of buying a car, you should invest 85-90% of the surplus in short-term debt funds or recurring deposits and allocate 10-15% to equities.</br>
									</div>
									
								
								</div>
							</div></a>
						</div>
			</div>

            <div class="row">
			<a target="_self"href=".html">
					<div class="col-xl-4 col-md-6 mb-4">
						<div class="card border-left-warning h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Foreign Vaction</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													
												</div>
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
											</div>
										</div>
											<div class="col-auto">
												<img src="{% static 'pictures\foreign vaction.svg' %}" width="50px" height="40px"></img>
											</div>
											
									</div>
										</br><div class="text">
									Planning a vacation is usually a short-to-medium time goal. Investors should choose a mutual fund scheme,if your vacations are less than three months  you should invest in short term.
					</div>
								</div>
							</div></a>
						</div>
						
						
				<a target="_self"href=".html">
				<div class="col-xl-4 col-md-6 mb-4">
						
							<div class="card border-left-warning h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Higher Education</div>
											<div class="row no-gutters align-items-center">
												
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
											</div>
										</div>
											<div class="col-auto">
												<img src="{% static 'pictures\higher education.svg' %}" width="50px" height="40px"></img>
											</div>
											
									</div>
									</br><div class="text">A regular systematic investment plan of mutual fund for education which is an important component. One should reduce risk by taking away investments from high-risk products to a safer option.
								</div>
							</div>
						</div></a>
						</div>
						<a target="_self"href=".html">
						<div class="col-xl-4 col-md-6 mb-4">
						
							<div class="card border-left-info  h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										
											<div class="row no-gutters align-items-center">
												
													
											</div>
										</div>
											
											
									</div>
									</br></br></br><div class="text">
									<center>None</center>
									</div>
								</div>
                            </div></a>
                            <script src="{% static 'js/dashboardview2.js' %}"></script>  
						</div>
	         