

            <div id="content">
              {% load static %}
              <!-- Sidebar Toggle (Topbar) -->
                     <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                       <i class="fa fa-bars"></i>
                     </button>
           
                   <!-- Begin Page Content -->
                   <div class="container-fluid kyc">
           
                   <!-- End of Topbar -->
               <div class="row">
           
                       <!-- Earnings (Monthly) Card Example -->
                  <a target="_self"href="">	
                       <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col mr-2">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">KYC</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                         </div>
                       </div>
                   
                    <a target="_self"href="">	
                 <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">SIGNATURE</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                        
                       </div>
                   </div>
                 
               </div>
                 
                 
                 <div class="row">
           
                       <!-- Earnings (Monthly) Card Example -->
                  <a target="_self"href="">	
                       <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col mr-2">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">AADHAR</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                         </div>
                       </div>
                 
               
           
                       <!-- Earnings (Monthly) Card Example -->
                  <a target="_self"href="">	
                       <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col mr-2">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">PAN</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                         </div>
                       </div>
                 
               </div>
               
                 
                 
           <div class="row">
           
                       <!-- Earnings (Monthly) Card Example -->
               
                 
               </div>
               
                 <div class="row">
           
                       <!-- Earnings (Monthly) Card Example -->
                  <a target="_self"href="">	
                       <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col mr-2">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">BANK</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                         </div>
                       </div>
                 
               
               
               
           
                       <!-- Earnings (Monthly) Card Example -->
                  <a target="_self"href="">	
                       <div class="col-xl-6 col-md-6 mb-4">
                         <div class="card kyc border-left-primary shadow h-100 py-2 ">
                           <div class="card-body">
                             <div class="row no-gutters align-items-center">
                               
                     <div class="col mr-2">
                       <div class="h5 kyc mb-0 font-weight-bold text-gray-800">DEMAT</div>
                               </div>
                       <div class="col">
                         <div class="h5 pending mb-0 font-weight-bold text-gray-800">Pending</div>
                       </div>
                             </div>
                           </div></a>
                         </div>
                       </div>
                       <div class="col-sm-3 mb-3 mb-sm-0" style="margin-left: 4%;">
                        <button type="butoon" id="documentSubmit" class="btn btn-primary btn-user btn-block-pay " onclick="saveDocuments();return false;">Submit Documents</button>
                    </div>  
               </div>
            
           
                      
                        
              
                      
               
                         </div>
                       </div>
                     </div>
           
                   </div>
                   
                   <!-- /.container-fluid -->
                   <script src="{% static 'js/documents.js' %}"></script>
                 </div>
                

