<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
<style>
.otptomobile{
align:center;
     top:80px;
    height: 2px;
  padding: 10px;
}


</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>mobilelogin</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">
 <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
 <link href="{% static "css/common.css" %}" rel="stylesheet">
 <!-- Bootstrap core JavaScript-->
 <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
 <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

 <!-- Core plugin JavaScript-->
 <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

 <!-- Custom scripts for all pages-->
 
 <script src="{% static "vendor/parsley.min.js" %}"  type="text/javascript"></script>


</head>
<body class="bg-gradient-primary">
  <div class="container"> <br> <br> <br> <br> <br> <br>
    <!-- Outer Row -->
    <div class="row justify-content">
      <div class="col-xl-16 col-lg-12 col-md-7">
	 <div class="card-body p-0">
	<div class="row">
               <img class="logo"src="{% static "pictures\Savart logo.svg" %}"  width="50%" height="50%" >
             
	 <div class="card o-hidden border-5 index">
          
            <!-- Nested Row within Card Body --> 
		  
                <div class="p-5">
                  
                  <form class="user" data-parsley-validate="" >
                    <div class="form-group">
					<img src="{% static "pictures\phone.svg" %}" width="30" height="30" id="input_img" class="vl">
                    <input type="tel" data-parsley-trigger="focusout" data-parsley-error-message="Enter a valid mobile number"  pattern="^[1-9][0-9]{9}" class="form-control form-control-user text1" id="userMobileNumber"  data-parsley-maxlength=10 required aria-describedby="mobileHelp" placeholder="Enter Mobile Number"><p id="otpMessage"></p>
                    </div>
                   

                   
                   
                    <div class="form-group" id="newUserLogin">
					    <img src="{% static "pictures\lock.svg" %}" width="30" height="30" id="input_img" class="vl">
                            <input type="otp" data-parsley-trigger="change" class="form-control form-control-user text1" id="userOTP" placeholder="OTP" data-parsley-error-message="Enter a valid OTP" data-parsley-maxlength=4 pattern="[0-9]{4}"/>
                    </div>
                    

                   <div class="form-group" id="existingUserLogin">
                            <img src="{% static "pictures\lock.svg" %}" width="30" height="30" id="input_img" class="vl">
                            <input type="password" class="form-control form-control-user text1" id="userPassword" placeholder="Enter Password">
                    </div>
                
                    <div class="form-group">
                        <div class="form-group-mbn">
                          <a class="small-login" href="email-login">Alternatively you can login using email </a>
                       </div>
                    </div>
                    <div class="invalid-form-error-message"></div>
                    <!--input type="submit" class="btn btn-primary btn-user btn-block login" value="Login" onsubmit="verifyUserCredentials();return false;"/-->
                    <button id="loginSubmit" class="btn btn-primary btn-user btn-block login" onclick="verifyUserCredentials();return false;">Login</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
	 </div>
      </div>

    </div>

  </div>

  <script src="{% static "js/sb-admin-2.min.js" %}"></script>

  <script src="{% static "js/login.js" %}"></script>

</body>

</html>
