<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="{% static "js/vendor/parsley.min.js" %}"  type="text/javascript"></script>
        <script src="{% static "js/index.js" %}"  type="text/javascript"></script>
        
    </head>
    <body>
        <h1>Hi</h1>
        <button onclick="goNextPage()">Click</button>
    </body>
</html>