

 



<!-- Main Content -->
    <div id="content">
        {% load static %} 
        {% load custom_template_tags%}
	 <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

         
<!-- Begin Page Content -->
        <div class="container-fluid">

<!-- End of Sidebar -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">Investment Profile</h1>
			</div>
        <!-- Begin Page Content -->


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center test">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col-lg-10">
                <div class="p-5-investment">
                    
                  <form class="user" id="investmentForm" data-parsley-validate="">                   
                    {% for profileQuestions in investmentProfileQuestions %}
                        {% if profileQuestions.profqtype == "C" %}
                        <div class='form-group row'>
                            <div class='col-sm-12 mb-3 mb-sm-0'>
                                <label>{{profileQuestions.profqorder}}.{{profileQuestions.profqname}}</label>
                                {% for value in profileQuestions.values %}
                                    
                                    <div class='form-group'>{{value}}<input data-parsley-type="digits" data-parsley-min="500" data-parsley-max="1000000000" data-parsley-required-message='Please Enter Investment Amount ' class='form-control' name='{{profileQuestions.profqname}}' id='{{value}}' required/></div>
                                        
                                {% endfor %}
                            </div>
                        </div>    
                        {% elif profileQuestions.profqtype == "S" %}
                        <div class='form-group row'><div class='col-sm-12 mb-3 mb-sm-0'>
                            <label for='{{profileQuestions.profqname}}'>{{profileQuestions.profqorder}}.{{profileQuestions.profqname}}</label></br> 
                            {% for value in profileQuestions.values %}
                                
                                <input type='radio' name='{{profileQuestions.profqname}}' value='{{value}}' required checked/><label> {{value}} </label>
                                    
                            {% endfor %}
                         </div>
                        </div>
                        {% elif profileQuestions.profqtype == "M" %}
                        <div class='form-group row'><div class='col-sm-12 mb-3 mb-sm-0'>
                            <label for='{{profileQuestions.profqname}}'>{{profileQuestions.profqorder}}.{{profileQuestions.profqname}}</label></br> 
                            <select name='{{profileQuestions.profqname}}'>
                            {% for value in profileQuestions.values %}
        													<option name='{{profileQuestions.profqname}}' value='{{ value }}'>{{value}}</option>
                            {% endfor %}
													  </select>
                         </div>
                        </div>    
                        {% elif profileQuestions.profqtype == "E" %}
                        <div class='form-group row'>
                            <div class='col-sm-12 mb-3 mb-sm-0'>
                                <label>{{profileQuestions.profqorder}}.{{profileQuestions.profqname}}</label>
                                <input data-parsley-required data-parsley-type="digits" class='form-control' data-parsley-max="1000000000" data-parsley-required-message='Please Enter monthly avg  savings ' name='{{profileQuestions.profqname}}' id='{{profileQuestions.profqname}}' />
                            </div>
                        </div>    
                        {% endif %}
                    {% endfor %}

                    
                      <center><h5 id="saveStatus0"><font color="blue">Details saved successfully</font></h5></center>
                      <center><h5 id="saveStatus5"><font color="red">Internal Server Error</font></h5></center>


                        <div class="btn-block-profile">
							<button class="btn btn-primary btn-user-investment btn-block-profile" type="submit" id="saveInvestmentProfileButton"  >
							Save
							</button>
						</div>
                  
                    
                    
                  </form>
               
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

        </div>
        <script src="{% static 'js/investmentProfile.js' %}"></script>
    </div>



