  <div class="card o-hidden border-5 index password-card">
    {% load static %}
    <!-- Nested Row within Card Body -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 password-title">
        <h1 class="h3 mb-0 text-gray-800">Set Password</h1>
      </div>
        <div class="p-4">

          <form class="user"  data-parsley-validate="">
            <div class="form-group">
                <img src="{% static "pictures\lock.svg" %}" width="30" height="30" id="input_img" class="vl">
                <input type="password"  data-parsley-trigger="change" name="passwordentry" class="form-control form-control-user text1" id="passwordEntry"  required placeholder="Password"  data-toggle="tooltip" data-placement="right"  title="Must contain at least 1 number, 1 Uppercase letter, 1 Lowercase letter, At least 8 or more characters" data-parsley-error-message="Invaild Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

            </div>

            <div class="form-group">
            <img src="{% static "pictures\lock.svg" %}" width="30" height="30" id="input_img" class="vl">
              <input type="password" data-parsley-trigger="change" class="form-control form-control-user text1" id="passwordReEntry" required placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>

            <div class="invalid-form-error-message"></div>

            <button id="savePasswordSubmit" class="btn btn-primary btn-user btn-block login" onclick="savePassword();return false;">Save</button>

          </form>
        </div>

        <script src="{% static "js/password.js" %}"></script>


</div>
