<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Savart personal-profile</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
    <link href="{% static 'css/personalprofileparsley.css' %}" rel="stylesheet">
  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>
  <script src="{% static "vendor/parsley.min.js" %}"  type="text/javascript"></script>

<script src="{% static 'js/personalprofileparsley.js' %}"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
    <div id="wrapper">

<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href=".html">
     <img src="{% static "pictures\Savart logo.svg" %}" width="80px" height="50px"/>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
 <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="newdashboard.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">



      <!-- Nav Item - Pages Collapse Menu -->
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
         <i class="fa fa-user" aria-hidden="true"></i>
          <span>Profile</span>
        </a>
        <div id="collapseProfile" class="collapse" aria-labelledby="headingProfile" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" href="savartservice.html">Services</a>
            <a class="collapse-item" href="Personalprofile.html">Personal Profile</a>
			<a class="collapse-item" href="Investmentprofile.html">Investment Profile</a>
			<a class="collapse-item" href="kycpending.html">Documents</a>
          </div>
        </div>
      </li>

<!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePortfolio" aria-expanded="true" aria-controls="collapsePortfolio">
			<i class="fas fa-briefcase" aria-hidden="true"></i>
				<span>Portfolio</span>
		</a>
			<div id="collapsePortfolio" class="collapse" aria-labelledby="headingPortfolio" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">


						<a class="collapse-item" href="currentportfolio.html">Invested</a>
						<a class="collapse-item" href="selectgoal.html">New Investment</a>
						<a class="collapse-item" href="uploadportfolio.html">Review Existing</a>
						<a class="collapse-item" href="stocks.html">Advised</a>
						<a class="collapse-item" href="uploadcontractnotes.html">Contract Notes</a>
						<a class="collapse-item" href="portfoliostatus.html">Recommended Portfolio</a>

                </div>
			</div>
    </li>


<!-- Divider -->
<hr class="sidebar-divider">
<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
           <i class="fas fa-envelope fa-fw"></i>
				<span>Inbox</span>
        </a>
			<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">


						<a class="collapse-item" href="inbox1.html">Inbox</a>

                </div>
			</div>
    </li>
<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContactus" aria-expanded="true" aria-controls="collapseContactus">
			<i class="fa fa-phone" aria-hidden="true"></i>
				<span>Contact us</span>
		</a>
			<div id="collapseContactus" class="collapse" aria-labelledby="headingContactus" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">

						<a class="collapse-item" href="contactusforhelp.html">Help</a>

				</div>
			</div>
 <li>
<!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
			<i class="fa fa-wrench" aria-hidden="true"></i>
				<span>Tools</span>
        </a>
			<div id="collapseTools" class="collapse" aria-labelledby="headingTools" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">

						<a class="collapse-item" href="Tools.html">Calculators</a>

                </div>
		   </div>
    <li>
<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <center><button class="rounded-circle border-0" id="sidebarToggle"></center></button>
    </div>

    </ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

<!-- Main Content -->
    <div id="content">
 <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



        <!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- End of Topbar -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Personal Profile</h1>
          </div>
        <!-- Begin Page Content -->


<body class="bg-gradient-primary">


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center test">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col-lg-10">
                <div class="p-5 personalprofile">

                  <form id='Pform' name="contactForm"  class="user" data-parsley-validate="">
				  <div class="form-group">
                      <input class="form-control form-control" name="mobile" id="exampleInputregisteredmobile" placeholder="Registered Mobile" data-parsley-required data-parsley-type="digits" data-parsley-length="[10,10]" data-parsley-error-message="Please enter a valid Mobile Number" >
                    </div>
				   <div class="form-group">
                      <input  class="form-control form-control" id="firstname" name="firstname" placeholder="firstname" required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your First Name"    >
                    </div>
					 <div class="form-group">
                      <input  name="lastname" class="form-control form-control" id="exampleInputlastname" placeholder="Lastname" required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your Last Name"  >
                    </div>

                    <div class="form-group">
                      <input name="email" required data-parsley-type="email" data-parsley-error-message="Please enter a valid E-Mail address"  class="form-control form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
						<div class="form-group row">
											<div class="col-sm-12 mb-3 mb-sm-0">
												<h6>Martial status</h6>
													<div class="row">
														<div class="col-sm-3">
															<input type="radio" name="status" value="Single"> Single
														</div>
														<div class="col-sm-3">
															<input type="radio" name="status" value="Married" checked>Married
														</div>
													</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12 mb-3 mb-sm-0">
												<h6>Age</h6>
													<select id="AgeDropdownId" name="age" class="AgeDropdown">
													<option value="21-30">21-30</option>
													<option value="31-40">31-40</option>
													<option value="41-50">41-50</option>
													<option value="51-60">51-60</option>
													<option value="61-700">61-70</option>
													<option value="71-80">71-80</option>
													<option value="81-90">81-90</option>
													<option value="91-100">91-100</option>
													</select>
											</div>
										</div>
					 <div class="form-group" data-parsley-required data-parsley-type="alphanum">
                      <input class="form-control form-control" name="address1" id="exampleInputaddress"  type="text" placeholder="Address for communication" data-parsley-required data-parsley-error-message="Please enter your Address"></br>
					  <input class="form-control form-control" name="address2" id="exampleInputaddress" type="text" data-parsley-required data-parsley-error-message="Please enter your Address"></br>
					  <input class="form-control form-control" name="address3" id="exampleInputaddress" placeholder="City" required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your City"></br>
            <input  class="form-control form-control" name="address4" id="exampleInputaddress" placeholder="Pincode" data-parsley-required data-parsley-type="digits"  data-parsley-required-message="Please enter Pincode"></br>

          </div>

					 <div class="form-group">
                      <input class="form-control form-control" name="occupation" id="exampleInputoccupation" placeholder="Occupation" required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your Occupation">
                    </div>


    <button type="submit" id="submit" name="submit" value="Submit"  class="btn btn-primary btn-user btn-block" >Save</button>






                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</body>

</html>
