
<!-- Main Content -->
    <div id="content">
      {% load static %} 

      <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



        <!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- End of Topbar -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Personal Profile</h1>
          </div>
        <!-- Begin Page Content -->



  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center test">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col-lg-10">
                <div class="p-5 personalprofile">

                  <form id='Pform' name="contactForm"  class="user" data-parsley-validate="">
				  <div class="form-group">Registered Mobile:
                      <input class="form-control form-control" name="mobile" id="exampleInputregisteredmobile"  data-parsley-required data-parsley-type="digits" data-parsley-length="[10,10]" data-parsley-error-message="Please enter a valid Mobile Number" >
                    </div>
				   <div class="form-group">First Name:
                      <input  class="form-control form-control" id="firstname" name="firstname"  required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your First Name"    >
                    </div>
					 <div class="form-group">Last Name:
                      <input  name="lastname" class="form-control form-control" id="exampleInputlastname"  required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your Last Name"  >
                    </div>

                    <div class="form-group">Email:
                      <input name="email" required data-parsley-type="email" data-parsley-error-message="Please enter a valid E-Mail address"  class="form-control form-control" id="exampleInputEmail" aria-describedby="emailHelp" >
                    </div>
						<div class="form-group row">
											<div class="col-sm-12 mb-3 mb-sm-0">
												<h6>Martial status:</h6>
													<div class="row">
														<div class="col-sm-3">
															<input type="radio" name="status" value="Single"> Single
														</div>
														<div class="col-sm-3">
															<input type="radio" name="status" value="Married" checked>Married
														</div>
													</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12 mb-3 mb-sm-0">
												<h6>Age:</h6>
													<select id="AgeDropdownId" name="age" class="AgeDropdown">
													<option value="21-30">21-30</option>
													<option value="31-40">31-40</option>
													<option value="41-50">41-50</option>
													<option value="51-60">51-60</option>
													<option value="61-70">61-70</option>
													<option value="71-80">71-80</option>
													<option value="81-90">81-90</option>
													<option value="91-100">91-100</option>
													</select>
											</div>
										</div>
					 <div class="form-group" data-parsley-required data-parsley-type="alphanum">Address:
                      <input class="form-control form-control" name="address1" id="exampleInputaddress"  type="text" placeholder="H.no/Flat.no" data-parsley-required data-parsley-error-message="Please enter your Address">
					  <input class="form-control form-control" name="address2" id="exampleInputaddress" placeholder="Street Name" type="text" data-parsley-required data-parsley-error-message="Please enter your Address">
					  <input class="form-control form-control" name="address3" id="exampleInputaddress" placeholder="City" required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your City">
            <input  class="form-control form-control" name="address4" id="exampleInputaddress" placeholder="Pincode" data-parsley-required data-parsley-type="digits"  data-parsley-required-message="Please enter Pincode">

          </div>

					 <div class="form-group">Occupation:
                      <input class="form-control form-control" name="occupation" id="exampleInputoccupation"  required data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-required-message="Please enter your Occupation">
                    </div>


    <button type="submit" id="submit" name="submit" value="Submit"  class="btn btn-primary btn-user btn-block" >Save</button>






                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  
  </div>
  </div>
  <script src="{% static 'js/personalProfile.js' %}"></script>

</div>




 
 
