ul.parsley-errors-list.filled {
    color: red;
    font-size: small;
  }
  
div.invalid-form-error-message.filled{
    color: red;
    font-size: small;
    margin-bottom: 5%;
  
}

p#otpMessage {
    font-size: smaller;
    color: black;
}

div.card.o-hidden.border-5.index.password-card{
    margin-left: 30%;
}

div.d-sm-flex.align-items-center.justify-content-between.mb-4.password-title {
    margin-left: 20%;
    margin-top: 5%;
}